{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
<h1 class="text-center offset-xxl-1"><strong>A propos de moi</strong> </h1>
<br>
<br>
<p class="offset-xxl-1"> Je suis un homme très invesi dans un sport que j'affectionne plus que tout, le basket. </p>
<p class="offset-xxl-1"> Je suis dans mon club :</p>
<ul class="offset-xxl-1"><img src="{{ asset('photo2.jpg') }}"  class="rounded-corners" width="300" height="auto"><img src="{{ asset('photo1.jpg') }}" alt="Description de la photo" class="rounded-corners" width="300" height="auto">
    <li> Responsable de notre école d'arbitrage </li><br><br>
    <li> Responsable de la répartition hebdomadaire de nos arbitres sur les matchs du weekend</li><br><br>
    <li> Référent arbitre auprès du comité départemental de la Loire (lorsque mon club à des problèmes au niveau de quelque chose qui concerne l'arbitrage, c'est moi qui m'en occupe)</li>
</ul><br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<p class="offset-xxl-1"> Je suis aussi une personne investie dans mon établissement scolaire. 
    Durant mes années de lycée j'était membre :
    <ul class="offset-xxl-1">
        <li> De la Maison les Lycéens</li>
        <li> Du Conseil de vie Lycéenne</li>
        <li> Du conseil d'administration</li>
    </ul>
   
   <p class="offset-xxl-1"> Et dans mon IUT , je suis délégué suppléant mais plutôt porte parole du groupe B tandis que notre délégué est porte parole du groupe A
</p>
<br>
<br>
<br>

{% endblock %}
