{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}



    <div id="content-to-download" class="container" type="button">
        <header class="header">
            <h1>Technicien des systèmes numériques </h1>
            <img src="{{ asset('CV.png') }}" />
            
        </header>
        <div class="gauche">
            <div >
                <h2 >Compétences :</h2>
                <ul>
                    <li>Attentif à l'accueil du public</li>
                    <li>Bonne maitrise des outils informatiques </li>
                    <li>Gestion du comportement humain (apaisement de l’humeur)</li>
                    <li>Bonne communication orale et écrire</li>
                    <li>Maitrise émotionnelle et gestion de celles-ci</li>
                    <br>          
                    <li>Optimisation du temps et de l’espace afin d’augmenter l’efficacité</li>
                    <li>Capacité d’adaptation face à des situations imprévues</li>
                    <li>Gestion d’équipe</li>
                    <li>Contrôle qualité</li>

                </ul>
            </div>

            <div >
                <h2 >Savoir être :</h2>
            <ul>
                <li>Rigoureux</li>
                <li>Attentif</li>
                <li>Réactif</li>
                <li>À l’écoute</li>
                <li>Calme</li>
                <li>Sens du travail d’équipe et de l’entraide</li>
                <li>Autonome</li>
                <li>Fait preuve d’adaptation</li>
                <li>Capable de gérer des conflits</li>
                <li>Persévérant</li>
                <li>Soigné</li>
            </ul>

            </div>

            <div>
                <h2 >Expériences professionnelles :</h2>
                <h3>Ouvrier Polyvalent :</h3>
                <ul>
                    <li>La Découpe Stéphanoise 
                           42240 Veauches
                        </li>
                    </ul>
                <h3>Opérateur de production : </h3>
                <ul>
                    <li>AOSTE SNC
                        69590 Saint Symphorien sur Coise
                    </li>
                </ul>
                <h3>Ramasseur de fruit saisonnier :</h3>
                <ul>
                    <li>EARL le verger des brindilles : 
                           42140 Grammond
                    </li>
            </div>

            <div >
                <h2>Divers :</h2>
                <ul>
                    <li>Arbitre départemental de basketball</li>
                    <li>membre du bureau d’un club sportif</li>
                    <li>responsable arbitrage et formation arbitre de ce club</li>
            </div>
        </div>
        <div class="droite">
            <div >
                <h2>Informations Personnelles</h2>
                <p>Mathieu Bovy<br>12/03/2005</p>
            </div>
            <div>
                <h2 >Formation</h2>
                <ul>
                    <li>Brevet des college <br>
                        Année 2020</li>
                    <li>Baccalauréat <br>
                        année 2023 <br>
                        options mathématiques  et physique chimie</li>
                    <li>BUT réseaux et télécommunications<br>
                        En cours</li>
            </div>
            <div >
                <h2 >Langues</h2>
                <ul>
                    <li>Allemand (A2/B1)</li>
                    <li>Anglais (B1/B2)</li>
                </ul>
            </div>
            <div>
                <h2>Coordonnées</h2>
                <ul>
                    <li>mail : Mathieubovydumas@gmail.com</li>
                    <li>téléphone : 07 68 56 71 22</li>
                    <li>adresse : 224 chemin de la croix rouge, 42330 Aveizieux</li>
                </ul>

            </div>
        </div>
    </div>
    
{% endblock %}
