{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}

<div class="example-wrapper">
    <br>
    <br>
    <h3 class="text-center">Bonjour , 
    <br> Je suis Mathieu Bovy, jeune étudiant de 18 ans en première année de réseau et télécommunication.
    <br> Ce site est mon e-portfolio, celui-ci va vous permettre d'apprendre à me connaitre et à connaitre mes compétences dans les différents domaines que nous étudions dans le cadre de notre formation . </h3>
    <br>
    <br>
    <br>
    
    <div class="card border-primary mb-3 mx-1"  style="max-width: 30rem;">
      <div class="card-header">Information Personnelle</div>
      <div class="card-body">
        <p class="card-text">Nom : BOVY </p>
        <p class="card-text">Prénom : Mathieu </p>
        <p class="card-text">Date de naissance : 12/03/2005</p>
        <p class="card-text">Adresse : 224 chemin de la croix rouge 42330 Aveizieux</p>
        <p class="card-text">Mail : mathieubovydumas@gmail.com</p>
        <p class="card-text">Numéro de téléphone : 07 68 56 71 22 </p>
      </div>
    </div>
   

</div>
{% endblock %}
