{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}

<nav class="navbar navbar-expand-lg bg-dark" data-bs-theme="dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Menu</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarColor02">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a class="nav-link active" href="#">Accueil
              <span class="visually-hidden">(actuel)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">A propos de moi</a>
          </li>
    
          <li class="nav-item">
            <a class="nav-link" href="#" id="skillsButton" role="button" aria-expanded="false">Mes compétences</a>
            <div class="collapse" id="skillsList">
              <a class="dropdown-item" href="#">RT1 Administrer</a>
              <a class="dropdown-item" href="#">RT2 Connecter</a>
              <a class="dropdown-item" href="#">RT3 Programmer</a>
            </div>
          </li>
        </ul>
      </nav>
      
      <script>
        document.addEventListener('DOMContentLoaded', function () {
          var skillsButton = document.getElementById('skillsButton');
          var skillsList = document.getElementById('skillsList');
      
          skillsButton.addEventListener('click', function (event) {
            event.preventDefault();
            var isExpanded = skillsButton.getAttribute('aria-expanded') === 'true';
            skillsButton.setAttribute('aria-expanded', !isExpanded);
            skillsList.classList.toggle('show'); // Utilisez 'show' à la place de 'collapse' pour la visibilité
          });
        });
      </script>
<div class="example-wrapper">
    <br>
    <br>
    <h3 class="text-center">Bonjour , 
    <br> Je suis Mathieu Bovy, jeune étudiant de 18 ans en première année de réseau et télécommunication.
    <br> Ce site est mon e-portfolio, celui-ci va vous permettre d'apprendre à me connaitre et à connaitre mes compétences dans les différents domaines que nous étudions dans le cadre de notre formation . </h3>



</div>
{% endblock %}
