{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
<img src="{{ asset('photo3.jpg') }}" class="border-primary marge2" width="450" height="auto">
<div class="card border-primary  test"  style="max-width: 30rem;">
  <div class="card-header"><h1> Administrer les réseaux et l'internet </h1>
    <br>
    <br>
    <br>
  </div>
  <div class="card-body">
    <p><strong>Connaissance des risques et des fondamentaux de l'électronique </strong><p>
      <div class="progress">
        <div class="progress-bar bg-success" style="width: 85%;"></div>
      </div>
      <p><strong>Connaissance dans l'encodage des informations </strong><p>
      <div class="progress">
        <div class="progress-bar bg-success" style="width: 65%;"></div>
      </div>
      <p><strong>Configuration de base des réseaux (vlan ...) </strong><p>
      <div class="progress">
        <div class="progress-bar bg-success" style="width: 70%;"></div>
      </div>
      <p><strong>Maitrise des rôle et des fonctionnement des divers équipements actifs </strong><p>
      <div class="progress">
        <div class="progress-bar bg-success" style="width: 75%;"></div>
      </div>
      <p><strong>Identification de problème et de dysfonctionnement du réseau </strong><p>
      <div class="progress">
        <div class="progress-bar bg-success" style="width: 60%;"></div>
      </div>
      <p><strong>Installation du poste client  </strong><p>
      <div class="progress">
        <div class="progress-bar bg-success" style="width: 72%;"></div>
      </div>
  </div>
</div>
<img src="{{ asset('photo5.jpg') }}" class="rounded-corners marge" width="450" height="auto">


{% endblock %}
