{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
<img src="{{ asset('photo3.jpg') }}" class="border-primary marge2" width="450" height="auto">

<div class="card border-primary mb- test"  style="max-width: 30rem;">
    <div class="card-header"><h1> Connecter les entreprises et usagers </h1>
        <br>
        <br>
        <br>  
    <div class="card-body">
        <p><strong>Mesurer et analyser des signaux</strong><p>
            <div class="progress">
              <div class="progress-bar bg-success"   style="width: 50%;"  ></div>
            </div>
            <p><strong>Caractériser des système de transmissions et découvrir les modélisation mathématiques </strong><p>
            <div class="progress">
              <div class="progress-bar bg-success"   style="width: 65%;" ></div>
            </div>
            <p><strong> Déployer des supports de transmissions </strong><p>
            <div class="progress">
              <div class="progress-bar bg-success"   style="width: 60%;"></div>
            </div>
            <p><strong>Connecter les systèmes de ToIP </strong><p>
            <div class="progress">
              <div class="progress-bar bg-success"   style="width: 0%;"></div>
            </div>
            <p><strong>Communiquer avec le cllient/collaborateur </strong><p>
            <div class="progress">
              <div class="progress-bar bg-success"   style="width: 0%;"></div>
             </div>
            </div>
        </div>
    </div>
    <img src="{{ asset('photo6.jpg') }}" class="rounded-corners marge" width="450" height="auto">

    
  


{% endblock %}
