{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
<img src="{{ asset('photo3.jpg') }}" alt="Description de la photo" class="border-primary marge2" width="250" height="auto">

<div class="card border-primary offset-xxl-1 mb- test"  style="max-width: 30rem;">
    <div class="card-header"><h1> Connecter les entreprises et usagers </h1>
        <br>
        <br>
        <br>  
    <div class="card-body">
        <p><strong>Mesurer et analyser des signaux</strong><p>
            <div class="progress">
              <div class="progress-bar bg-success" role="progressbar" style="width: 50%;" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <p><strong>Caractériser des système de transmissions et découvrir les modélisation mathématiques </strong><p>
            <div class="progress">
              <div class="progress-bar bg-success" role="progressbar" style="width: 65%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <p><strong> Déployer des supports de transmissions </strong><p>
            <div class="progress">
              <div class="progress-bar bg-success" role="progressbar" style="width: 60%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <p><strong>Connecter les systèmes de ToIP </strong><p>
            <div class="progress">
              <div class="progress-bar bg-success" role="progressbar" style="width: 0%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <p><strong>Communiquer avec le cllient/collaborateur </strong><p>
            <div class="progress">
              <div class="progress-bar bg-success" role="progressbar" style="width: 0%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
             </div>
            </div>
        </div>
    </div>
    <img src="{{ asset('photo6.jpg') }}" alt="Description de la photo" class="rounded-corners marge" width="250" height="auto">

    
  


{% endblock %}
