{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
<img src="{{ asset('photo7.png') }}" alt="Description de la photo" class="border-primary marge2" width="250" height="auto">
<div class="card border-primary mb-3 offset-xxl-1 test"  style="max-width: 30rem;">
    <div class="card-header"><h1> Créer des outils et applications informatiques </h1>
        <br>
        <br>
        <br>  
    <div class="card-body">
        <p><strong>Utiliser des systèmes informatiques et ses outils </strong><p>
            <div class="progress">
              <div class="progress-bar bg-success" role="progressbar" style="width: 80%;" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <p><strong>Lire, exécuter, corriger et modifier un programme</strong><p>
            <div class="progress">
              <div class="progress-bar bg-success" role="progressbar" style="width: 85%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <p><strong> Traduire un algorithme en programme</strong><p>
            <div class="progress">
              <div class="progress-bar bg-success" role="progressbar" style="width: 70%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <p><strong>Connaitre l'architecture et les technologie des sites web </strong><p>
            <div class="progress">
              <div class="progress-bar bg-success" role="progressbar" style="width: 60%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <p><strong>Choisir des mécanisme de gestion des données </strong><p>
            <div class="progress">
              <div class="progress-bar bg-success" role="progressbar" style="width: 0%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
             </div>
             <p><strong>S'intégrer dans un environnement propice au développement et au travail collaboratif </strong><p>
                <div class="progress">
                  <div class="progress-bar bg-success" role="progressbar" style="width: 70%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                 </div>
             <p><strong>Programmation en language C </strong><p>
                <div class="progress">
                  <div class="progress-bar bg-success" role="progressbar" style="width: 50%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                 </div>
            <p><strong>Programmation en language Python </strong><p>
              <div class="progress">
                <div class="progress-bar bg-success" role="progressbar" style="width: 70%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
               </div>
            </div>
        </div>
        
    
    </div>
    <img src="{{ asset('photo8.png') }}" alt="Description de la photo" class="rounded-corners marge" width="250" height="auto">
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <p>     </p>
    
{% endblock %}
