{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
<img src="{{ asset('photo7.png') }}" class="border-primary marge2" width="550" height="auto">
<div class="card border-primary mb-3 test"  style="max-width: 30rem;">
    <div class="card-header"><h1> Créer des outils et applications informatiques </h1>
        <br>
        <br>
        <br>  
    <div class="card-body">
        <p><strong>Utiliser des systèmes informatiques et ses outils </strong><p>
            <div class="progress">
              <div class="progress-bar bg-success" style="width: 80%;"  ></div>
            </div>
            <p><strong>Lire, exécuter, corriger et modifier un programme</strong><p>
            <div class="progress">
              <div class="progress-bar bg-success" style="width: 85%;"></div>
            </div>
            <p><strong> Traduire un algorithme en programme</strong><p>
            <div class="progress">
              <div class="progress-bar bg-success" style="width: 70%;"></div>
            </div>
            <p><strong>Connaitre l'architecture et les technologie des sites web </strong><p>
            <div class="progress">
              <div class="progress-bar bg-success" style="width: 60%;"></div>
            </div>
            <p><strong>Choisir des mécanisme de gestion des données </strong><p>
            <div class="progress">
              <div class="progress-bar bg-success" style="width: 0%;"></div>
             </div>
             <p><strong>S'intégrer dans un environnement propice au développement et au travail collaboratif </strong><p>
                <div class="progress">
                  <div class="progress-bar bg-success" style="width: 70%;"></div>
                 </div>
             <p><strong>Programmation en language C </strong><p>
                <div class="progress">
                  <div class="progress-bar bg-success" style="width: 50%;"></div>
                 </div>
            <p><strong>Programmation en language Python </strong><p>
              <div class="progress">
                <div class="progress-bar bg-success" style="width: 70%;"></div>
               </div>
            </div>
        </div>
        
    
    </div>
    <img src="{{ asset('photo8.png') }}" class="rounded-corners marge" width="450" height="auto">

{% endblock %}
