<!DOCTYPE html>
<html>
    <head class="bg">
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" type="image/png" href="{{asset('logo.png') }}">
        <link rel= "stylesheet" href="https://bootswatch.com/5/pulse/bootstrap.min.css">
        <link rel="stylesheet" href="{{asset('stylesheet.css') }}">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body class="bg">

        <nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
        <div class="container-fluid">
          <a class="navbar-brand voila" href="/">E-Portfolio</a>
          <button class="navbar-toggler" type="button" >
          </button>
          <div class="navbar-collapse">
            <ul class="navbar-nav me-auto">
              <li class="nav-item">
                <a class="nav-link" href="/">Accueil
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/infos">A propos de moi</a>
              </li> 
              <li class="nav-item">
                <a class="nav-link" href="/CV">CV</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/RT1">Administrer</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/RT2">Connecter</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/RT3">Programmer</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/formulaire">Télécharger</a>
              </li>
            </ul>
            <form class="d-flex">
              <input class="form-control"  placeholder="Recherche">
              <button class="btn btn-secondary" >Rechercher</button>
            </form>
          </div>
        </div>
      </nav>

        {% block body %}
        
        {% endblock %}
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>

        <footer class="footer"><p xmlns:cc="http://creativecommons.org/ns#" xmlns:dct="http://purl.org/dc/terms/"><span property="dct:title">E-portfolio</span> by <span property="cc:attributionName">Mathieu Bovy</span> is licensed under <a href="http://creativecommons.org/licenses/by-nc-nd/4.0/?ref=chooser-v1" target="_blank" rel="license noopener noreferrer" style="display:inline-block;">Attribution-NonCommercial-NoDerivatives 4.0 International<img style="height:22px!important;margin-left:3px;vertical-align:text-bottom;" src="https://mirrors.creativecommons.org/presskit/icons/cc.svg?ref=chooser-v1"><img style="height:22px!important;margin-left:3px;vertical-align:text-bottom;" src="https://mirrors.creativecommons.org/presskit/icons/by.svg?ref=chooser-v1"><img style="height:22px!important;margin-left:3px;vertical-align:text-bottom;" src="https://mirrors.creativecommons.org/presskit/icons/nc.svg?ref=chooser-v1"><img style="height:22px!important;margin-left:3px;vertical-align:text-bottom;" src="https://mirrors.creativecommons.org/presskit/icons/nd.svg?ref=chooser-v1"></a></p></footer>

    </body>
</html>
